:root {
    --primary-color: #ffa53e;
    --secondaty-color: #ffffff;
    --overlay-color: rgba(0, 0, 0, 0.7);
}

.navbar-container {
    max-width: 1220px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .navbar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    font-size: 2em;
    color: var(--primary-color);
}

.navbar .navbar-links {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-links a {
    padding: 0 1rem;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.navbar .navbar-links a:hover{
   color: var(--primary-color)
}
