.custom-navbar {
    padding-top: 15px;
}

.logo {
    margin-left: 100px;
    margin-top: 5px;
    display: inline-block;
    color: orange;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.logo:hover {
    color: #ff7839;
}

.navbar-links {
    display: inline-block;
    float: right;
    margin-right: 100px;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li {
    float: left;
    padding: 0px 15px;
}

.navbar-links li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

li a:hover {
    color: #ffcb39;
}