:root {
    --primary-color: #ffa53e;
    --secondary-color: #ffffff;
    --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    height: 100%;
    background-color: rgb(37, 37, 37);
    font-family: 'Dosis', sans-serif;
    font-size: 1.1rem;
}

/* -- Icon Bar -- */
.icon-bar {
    position: absolute;
    top: 33%;
    z-index: 10000;
  }

  .icon-bar a {
    display: block;
    text-align: left;
    padding: 20px;
    color: rgb(114, 114, 114);
    font-size: 20px;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  
  .icon-bar a .fa-instagram,
  .icon-bar a .fa-twitter,
  .icon-bar a .fa-behance,
  .icon-bar a .fa-linkedin-in
  {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.2s ease-in;
  }

  .icon-bar a .fa-instagram:hover {
    color: rgb(216, 34, 104);
  }

  .icon-bar a .fa-twitter:hover {
    color: rgb(75, 191, 245);
  }

  .icon-bar a .fa-behance:hover {
    color: #053eff;
  }

  .icon-bar a .fa-linkedin-in:hover {
    color: #0e76a8;
  }


h1, h2, h3, h4 {
    line-height: 1.3;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

main {
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh -211px - 58px);
}

/* -- Sections -- */

/* - Section 1 - */
.section-1 {
    margin: 6rem 11rem;
}

.section-1 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-1 h1 {
    font-size: 4rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.section-1 p {
    color: var(--secondary-color);
    margin: 1rem 0;
}

/* - Section 2 - */
.section-2 {
    position: relative;
    padding: 0em 4em;
    z-index: 10;
    background-color: #202020;
    border-radius: 25px;
    margin: 6rem 0rem;
}

.section-2 h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    letter-spacing: 0.2em;
    color:#242424;
}

.section-2 p {
    color: #242424;
    margin: 1rem 0;
}

.section-2 a {
    color: white;
    font-weight: bold;
}

.section-2 a i {
    display: block;
    text-align: left;
    padding: 20px;
    color: rgb(114, 114, 114);
    font-size: 20px;
}
/* Botao Contato*/
.btn-contact {
    display: inline-block;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 50px;
    letter-spacing: 0.30em;
    margin-top: 4%;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.btn-contact{
    box-shadow: inset 0 0 0.8em rgba(255, 255, 255, 0.3), 0 0 0.8em rgba(255, 255, 255, 0.3);
    border: #fff solid 1px;
    border-radius: 35px;
}

.btn-contact:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1.2em rgba(255, 255, 255, 0.5);
}

/* -- Cards -- */
.row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.row .know-more {
    color: #ffffff;
    vertical-align: middle;
}

.service-1,
.service-2,
.service-3 {
    width: 10em;
    height: auto;
    border-radius: 15px;
    padding: 1.3em 1.8em;
    margin: 4.8em;
    position: relative;
    flex: auto;
    margin-top: 8%;
    background-color: rgb(195, 99, 224);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0px 2px 10px rgb(34, 34, 34);

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.2s ease-in;
} 

.service-1:hover,
.service-2:hover,
.service-3:hover {
   box-shadow: 0px 2px 10px rgb(185, 185, 185);
}

/* -- Section 3 -- */
.section-3 {
    margin: -11rem 12rem;
}

.section-3 .inclusion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-3 h1 {
    font-size: 4rem;
    color: var(--secondary-color);
    letter-spacing: 0.2em;
}

.section-3 p {
    color: var(--secondary-color);
    margin: 3rem 0;
}

.section-3 hr {
    position: absolute;
    margin-top: 0.5%;
    border: 1px;
    border-bottom: 4px solid #c83eff;
    box-shadow: inset 0 0 0 rgba(143, 60, 238, 0.3), 0 0 1.2em rgba(174, 33, 209, 0.5);
    width: 19em;
    animation: separator-width 1s ease-out forwards;
    border-radius: 25px;
    transition: border-bottom 0.2s, box-shadow 0.3s, color 0.3s;
}

.section-3 hr:hover {
    border-bottom: 4px solid #ffae51;
    box-shadow: inset 0 0 0 rgba(253, 172, 67, 0.3), 0 0 1.2em rgba(223, 96, 38, 0.5);
}

.section-3 img {
    width: 77%;
    margin: 22%;
}

.btn-inclusion {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    padding: 0.3rem 1.5rem;
    border: 2px solid #c83eff;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 9% 10% 10% 10% / 51% 48% 52% 0% ;
    letter-spacing: 0.30em;
    margin-top: -2%;
    transition: padding 0.2s, box-shadow 0.3s, color 0.3s;
    font-weight: bold;
}

.btn-inclusion:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #c83eff;
    padding: 0.4rem 1.5rem;
    box-shadow: inset 0 0 0 rgba(252, 88, 252, 0.3), 0 0 1.2em rgba(194, 44, 207, 0.5);
}

/* -- Section 4 -- */
.section-4 {
    margin: 13rem 12rem;
}

.section-4 .frameworks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.section-4 h1 {
    font-size: 4rem;
    color: var(--secondary-color);
    letter-spacing: 0.2em;
    text-align: right;
}

.section-4 p {
    color: var(--secondary-color);
    margin: 3rem 0;
    text-align: right;
}

.section-4 hr {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 1%;
    border: 1px;
    border-bottom: 4px solid #ffae51;
    box-shadow: inset 0 0 0 rgba(255, 176, 56, 0.3), 0 0 1.2em rgba(209, 153, 33, 0.5);
    width: 30em;
    animation: separator-width 1s ease-out forwards;
    border-radius: 25px;
    transition: border-bottom 0.2s, box-shadow 0.3s, color 0.3s;
}

hr:hover {
    border-bottom: 4px solid #c83eff;
    box-shadow: inset 0 0 0 rgba(253, 172, 67, 0.3), 0 0 1.2em rgba(223, 96, 38, 0.5);
}

.section-4 img {
    width: 100%;
    margin: -14%;
}

.btn-frameworks {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    padding: 0.3rem 1.5rem;
    border: 2px solid #ffae51;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 9% 10% 10% 10% / 51% 48% 52% 0% ;
    letter-spacing: 0.30em;
    margin-top: -2%;
    transition: padding 0.2s, box-shadow 0.3s, color 0.3s;
    margin-left: 23%;
    font-weight: bold;
}

.btn-frameworks:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffae51;
    padding: 0.4rem 1.5rem;
    box-shadow: inset 0 0 0 rgba(255, 148, 60, 0.3), 0 0 1.2em rgba(233, 148, 51, 0.5);
}

/* -- Section 5 -- */
.section-5 {
    margin: -12rem 12rem;
}

.section-5 .job{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
}

.section-5 h1 {
    font-size: 4rem;
    color: var(--secondary-color);
    letter-spacing: 0.2em;
}

.section-5 p {
    color: var(--secondary-color);
    margin: 3rem 0;
}

.section-5 hr {
    position: absolute;
    margin-top: 0.5%;
    border: 1px;
    border-bottom: 4px solid #64FFDA;
    box-shadow: inset 0 0 0 rgba(100, 255, 219, 0.39), 0 0 1.2em rgba(100, 255, 219, 0.342);
    width: 15em;
    animation: separator-width 1s ease-out forwards;
    border-radius: 25px;
    transition: border-bottom 0.2s, box-shadow 0.3s, color 0.3s;
}

.section-5 hr:hover {
    border-bottom: 4px solid #ffae51;
    box-shadow: inset 0 0 0 rgba(253, 172, 67, 0.3), 0 0 1.2em rgba(223, 96, 38, 0.5);
}

.section-5 img {
    width: 93%;
    margin: 22%;
}

.btn-jobs {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    padding: 0.3rem 1.5rem;
    border: 2px solid #64FFDA;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 9% 10% 10% 10% / 51% 48% 52% 0% ;
    letter-spacing: 0.30em;
    margin-top: -2%;
    transition: padding 0.2s, box-shadow 0.3s, color 0.3s;
    font-weight: bold;
}

.btn-jobs:hover {
    color: #000000;;
    background-color: #64FFDA;
    padding: 0.4rem 1.5rem;
    box-shadow: inset 0 0 0 rgba(100, 255, 219, 0.479), 0 0 1.2em rgba(100, 255, 219, 0.425);
}

@media screen and (max-width: 600px) {
    .section-2 {
        padding: 0em 1em;
    }
}
