
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
}

.home,
.about {
    height: 90vh;
    position: absolute;
    width: 100%;
   }
   
   .home-content,
   .about-content {
    height: 111%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   }

   .home-content img {
    height: 70%;
   }

   .home {
    background-color: black;
   }

   .home-presentation h1{
       color: white;
       font-size: 50px;
       margin: 30px 0px;
   }

   .home-presentation p {
       color: white;
       font-size: 20px;
   }

body {
    background-color: #000;
}

section {
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5rem;
    color: white;
}

.servicos {
    background: linear-gradient(to right top, #F2994A, #F2C94C);
}

.clientes h2 {
    color: black;
}

.parceiros {
    background: linear-gradient(to right top, #6190E8, #A7BFE8);
}

.time h2 {
    color: black;
}

