@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5rem;
    color: white;
}

.servicos {
    background: linear-gradient(to right top, #F2994A, #F2C94C);
}

.clientes h2 {
    color: black;
}

.parceiros {
    background: linear-gradient(to right top, #6190E8, #A7BFE8);
}

.time h2 {
    color: black;
}

